In [4]:
import numpy as np
import pandas as pd

In [214]:
class Die():
    '''
    Docstring
    '''
    def __init__(self, instance_name, face_symbols):
        # Name of instance for future reference
        self.name = instance_name
        
        # Test for numpy array
        if not isinstance(face_symbols, np.ndarray):
            raise TypeError('Face Argument must be NumPy array')
          
        # Tests that array is strings or numbers
        if face_symbols.dtype.char not in ['U', 'l', 'd']:
            raise TypeError('Faces must be strings or numbers')
        
        # Tests for unique faces
        if len(set(face_symbols)) != len(face_symbols):
            raise ValueError('Face values must be distinct')
        
        # Initialize weights as 1.0 for each face
        self.faces = face_symbols
        self.n_sides = len(face_symbols)
        self.weights = [1.0 for i in face_symbols]
        
        # Save faces and weights in private data frame
        # THIS NEEDS TO BE SET TO PRIVATE BUT IDK HOW
        self.faces_weights = pd.DataFrame(self.weights, self.faces, columns=['weight'])
        
    def change_side_weight(self, face, new_weight):
        if face not in self.faces_weights.index:
            raise IndexError('That face does not exist on this die')
        if type(new_weight) not in [int, float]:
            raise ValueError('Weight is not a valid type')
        self.faces_weights.loc[face] = new_weight
        
    def roll(self, n = 1):
        results = []
        self.probs = [i/sum(self.faces_weights.weight) for i in self.faces_weights.weight]
        
        for i in range(n):
            result = self.faces_weights.sample(weights = self.probs).index.values[0]
            results.append(result)
            
        return results
        
    def current_state(self):
        print(self.faces_weights)
        
class Game():
    
    def __init__(self, die_list):
        self.die_list = die_list
    
    def play(self, n):
        self.df_index = []
        for i in range(n):
            self.df_index.append('Roll ' + str(i + 1))
        
        self.play_results = pd.DataFrame([], self.df_index)
        for die in self.die_list:
            self.play_results.insert(self.die_list.index(die), self.die_list.index(die) + 1, die.roll(n))
    
    def last_round(self, form):
        
        return self.play_results
    
class Analyzer():
    def __init__(self):
        pass
    
    def initializer():
        pass
    
    def jackpot():
        pass
    
    def face_count():
        pass
    
    def combo_count():
        pass
    
    def permutation():
        pass

In [206]:
faces = np.array([1, 2, 3, 4, 5, 6])

In [207]:
die1 = Die('die1', faces)
die2 = Die('die2', faces)
die3 = Die('die3', faces)
die4 = Die('die4', faces)
die5 = Die('die5', faces)

In [208]:
die1.change_side_weight(1, 1)

In [209]:
die_list = [die1, die2, die3, die4, die5]

In [210]:
jeff = Game(die_list)

In [211]:
jeff.play(20)

         1  2  3  4  5
Roll 1   4  3  4  4  4
Roll 2   5  3  1  3  3
Roll 3   5  1  5  1  4
Roll 4   6  4  6  1  6
Roll 5   1  6  6  1  1
Roll 6   6  2  4  4  2
Roll 7   4  4  1  6  4
Roll 8   6  3  1  4  2
Roll 9   1  4  5  6  6
Roll 10  1  4  1  5  1
Roll 11  1  5  3  3  2
Roll 12  4  6  6  5  6
Roll 13  1  6  5  1  4
Roll 14  4  6  3  5  1
Roll 15  5  1  6  5  2
Roll 16  3  6  2  3  1
Roll 17  3  4  2  6  6
Roll 18  1  5  5  3  1
Roll 19  5  6  5  6  1
Roll 20  4  6  5  2  1

In [212]:
jeff.last_round()

         1  2  3  4  5
Roll 20  4  6  5  2  1